.card {
  /* min-width: 300px; */
  margin: 12px;
  overflow: hidden;
  border: 0px solid black;
  border-radius: 15px;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
  transition: transform 100ms ease-in;
  cursor: pointer;
  position: relative;
}
.card:hover {
  transform: scale(1.07);
}
.card > img {
  object-fit: fill;
  min-width: 300px;
  min-height: 200px;
  height: 250px;
  width: 350px;
  position: relative;
  cursor: pointer;
}
.card:hover img {
  opacity: 0.9;
  /* translate: linear-gradient(270deg, transparent, rgba(0, 0, 0, 0.4), #444); */
}
.card:hover .card__button>.card_imgButton{
  /* opacity: 1; */
  display: grid;
}
.card >.card__button> .card_imgButton {
  position: absolute;
  display: none;
  top: 31%;
  right: 42%;
  cursor: pointer;
  /* opacity: 0; */
  background-color: #ff7779;
  color: white;
  padding: 10px;
  width: 60px;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  text-transform: capitalize;
  text-decoration: none;
}
.card >.card__button> .card_imgButton:hover{
  background-color: white;
  color: #ff7779;
  font-weight: 600;
}

.card__info {
  max-width: 340px;
  margin-top: -9px;
  border-radius: 10px;
  padding: 20px;
  padding-top: 20px;
  border: 1;
}
.card__info > h2 {
  font-size: 18px;
  font-weight: 600;
}
.card__info > h4 {
  font-size: 14px;
  font-weight: 300;
  margin-top: 8px;
  margin-bottom: 8px;
}
